.DetailMain {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .headingOuter {
    text-align: center;
    margin-bottom: 20px;
  }

  .detailHeading{
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-direction: column;

  }
  
  .detailHeading h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .detailHeading p {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 5px;
  }
  
  .detailImg {
    text-align: center;
    margin: 20px 0;
  }
  
  .detailImg img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .detailDesc {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }
  
  .detailDesc p {
    margin-bottom: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .DetailMain {
      padding: 15px;
    }
  
    .detailHeading h1 {
      font-size: 2rem;
    }
  
    .detailHeading p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .detailHeading h1 {
      font-size: 1.5rem;
    }
  
    .detailHeading p {
      font-size: 0.9rem;
    }
  
    .detailDesc p {
      font-size: 1rem;
    }
  }
  